*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body main .card {
    width: 100%;
    max-width: 500px;
}

body main .card .left-line {
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
        border-radius: 12px 0 0 12px;
        background: var(--bs-primary);
}

body main .card #error {
    display: none;
}
